.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 100px;
    color: #970606;
    font-size: 28px;
    font-weight: bold;
}
