.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.button-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.input {
    padding: 15px 10px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}
