.title {
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: bold;
}

.input {
    padding: 3px 5px;
    width: 100%;
}

.link {
    color: var(--light-color-main);
}

.button-list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-top: 30px;
}

.statusInfo {
    padding-top: 30px;
    font-weight: bold;
}
